

 h1, 
 h2, 
 h3, 
 h4, 
 h5, 
 h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d1d9e0b3;
}
h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d9e0b3;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.85em;
  color: #6a737d;
}

a {
  color: #0969da;
  // text-decoration: none;
}

// 列表
ul, ol {
  padding-left: 2em;
  li:has(> input) {
    list-style-type: none;

    input{
      margin: 0 .2em .25em -1.4em;
      vertical-align: middle;
    }
  }
}

blockquote {
  padding: 5px 1em;
  color: #59636e;
  border-left: .25em solid #d1d9e0;
  background: #f8f8f8;
  border-radius: 3px;
  margin: 0;
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  cite {
    font-size: 12px;
  }
}

// 代码
pre,
code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}
code, tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 4px;
}
pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
  code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
    font-size: 100%;
  }
}